<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>select the topic</h1>
        <form method="POST" action="{% url 'delete_webpage' %}">
            {% csrf_token %}
            <label for="topic">topic_name</label>
            <select name="topic" id="topic">
                {% for i in topics %}
                    <option value="{{i}}}">{{i.topic_name}}</option>

                {% endfor %}
            </select><br>
            <input type="submit" value="submit">
        </form>
    </center>
</body>
</html>